MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change-this-for-non-local-use
LAKEKEEPER_DB_USER=lakekeeper
LAKEKEEPER_DB_PASSWORD=change-this-database-password
LAKEKEEPER_ENCRYPTION_KEY=change-this-to-a-long-random-encryption-key
ULPF_ALLOW_MUTATING_SQL=false
ULPF_QUERY_ROW_LIMIT=1000
ULPF_INSERT_BATCH_SIZE=500
ULPF_TRINO_MAX_QUERY_BYTES=850000
ULPF_ICEBERG_COMMIT_RETRIES=6
ULPF_MAX_UPLOAD_BYTES=26214400
KAFKA_BATCH_SIZE=500
KAFKA_MAX_POLL_INTERVAL_MS=900000
ULPF_COMPACTION_MIN_FILES=50
ULPF_COMPACTION_TARGET_MB=128
ULPF_SNAPSHOT_RETENTION_DAYS=7
ULPF_ORPHAN_RETENTION_DAYS=7
ULPF_MAINTENANCE_INTERVAL_SECONDS=86400
ULPF_MAINTENANCE_TABLES=raw_events,application_logs,quarantine_events,ingestion_runs
